{% extends "layout.html" %}
{% block content %}
  {% for member in members %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ member.name }}</a>
          <!-- <small class="text-muted">{{ member.date_posted }}</small> -->
        </div>
        <h2><a class="article-title" href="#">{{ member.title }}</a></h2>
        <!-- <p class="article-content">{{ member.content }}</p> -->
      </div>
    </article>
  {% endfor %}
{% endblock content %}
